{{ define "body" }}

<div class="index-card">
    <h1 class="header-title">Jesse</h1>
    <h2>Hello 👋!</h2>
    <p>
        A computer science student, I'm interested in developing a
        wide range of software, from creating websites to making video
        games. I love finding elegant ways to complete a task,
        especially when it reduces overhead and complexity.
    </p>
    <ul>
        <li><i class="fa-brands fa-github"></i></li>
    </ul>
    <ul>
        {{ range .Site.Sections -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
        {{- end }}
    </ul>
</div>

{{ end }}
