*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #282828;
  color: #ebdbb2;
}

a {
  color: #0080ff;
  text-decoration: none;

  &:hover {
    color: #fff;
    background-color: #0080ff;
  }
}

pre {
  padding: 1rem 2rem;
  margin: 0;
  border-radius: 30px;
  box-shadow: inset 20px 20px 53px #1e1e1e,
              inset -20px -20px 53px #323232;
  overflow-x: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #b8bb26;
}

blockquote {
  border-left: 0.2rem solid #fb4934;
  margin-left: 0;
  padding-left: 1.5rem;
}

.main-container {
  max-width: 55rem;
  margin: 0 auto;
}

.footer {
  max-width: 55rem;
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}