@use "variables" as var;

.index {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  transform: translate(0%, -50%);
}

@media (min-width: 650px) {
  .index {
    left: 50%;
    max-width: 50ch;
    transform: translate(-50%, -50%);
  }
}

.index-intro {
  border-radius: 2rem;
  box-shadow:  20px 20px 62px #202020,
              -20px -20px 62px #303030;
  padding: 2rem;
}

.index-intro-title {
  text-align: center;
}

.index-intro-description {
  text-align: center;
}

.index-socials {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
  display: flex;
  justify-content: center;
}

.index-socials-item {
  margin: 1rem;
}

.index-socials-item-link {
  padding: 0.1rem;
  text-decoration: none;
  color: #0080ff;

  &:hover {
    background-color: #0080ff;
    color: #fff;
  }
}