@tailwind base;
@tailwind components;
@tailwind utilities;

.dark body {
  @apply bg-black text-white;
}

a {
  @apply text-blue-600 underline hover:text-blue-700 hover:no-underline;
}

#root-index {
  animation: gradient 10s ease infinite;
  background: linear-gradient(-45deg, #f43f5e, #a5b4fc, #ffffff);
  background-size: 300%;
  transition: background-position 0.25s ease;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  } 50% {
    background-position: 100% 50%;
  } 100% {
    background-position: 0% 50%;
  }
}
